@import "tailwindcss";
@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}
.mdc-notched-outline__notch {
  border-right: none;
}
.overlay {
  background: var(--mat-sys-surface-container-low);
  color: var(--mat-sys-on-surface);
  box-shadow: var(--mat-sys-level2);
}
